<!doctype html>

<html>

<head>
  <title>System temperature at [% host %]</title>
  <style>
    .bold { font-weight: bold; }
  </style>
</head>

<body>

<h1>System temperature at <em>[% host %]</em></h1>

<p>Last updated: [% gentime %]</p>

<p><span class="bold">Last day</span><br>
<img src="systemp-day.png"></p>

<p><span class="bold">Last week</span><br>
<img src="systemp-week.png"></p>

<p><span class="bold">Last month</span><br>
<img src="systemp-month.png"></p>

<p><span class="bold">Last year</span><br>
<img src="systemp-year.png"></p>

</body>

</html>
